.finishContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  h2 {
    color: #000000;
    letter-spacing: 4px;
    font-weight: 400;
    font-family: "Fredoka One", cursive;
    text-transform: uppercase;
    color: var(--blue);
  }

  p {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .description {
    width: 660px;
    height: 245px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 300px;
      height: 245px;
    }
    .title {
      width: 300px;
      font-size: 18px;
      letter-spacing: 1px;
      text-align: center;
      cursor: pointer;
    }
  }
  .sounds {
    display: flex;
    width: 330px;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 30px;
    .sound {
      width: 100px;
      height: 100px;
      cursor: pointer;
      background-color: #6db2ff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10%;
      margin-right: 10px;
      margin-bottom: 10px;
      transition: transform 0.15s ease-in-out;
      img {
        width: 50px;
      }
    }
    .sound:hover {
      transform: scale(105%);
      background-color: #82bbfb;
      box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
    }
  }
}

@media screen and (max-width: 799px) {
  .finishContainer {
    .description {
      width: 550px;
      img {
        width: 250px;
        height: 210px;
      }
      .title {
        font-size: 15px;
        padding: 0 10px;
      }
    }
    .sounds {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 575px) {
  .finishContainer {
    h2 {
      letter-spacing: 2px;
      font-size: 16px;
      letter-spacing: 2px;
    }
    p {
      font-size: 10px;
      letter-spacing: 0.7px;
    }
    .description {
      width: 320px;
      img {
        width: 120px;
        height: 100px;
      }
      .title {
        font-size: 10px;
        padding: 0 10px;
      }
    }
    .sounds {
      width: 300px;
      margin-top: 10px;
      .sound {
        width: 70px;
        height: 70px;
        img {
          width: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .finishContainer {
    h2 {
      letter-spacing: 2px;
      font-size: 16px;
      letter-spacing: 2px;
    }
    p {
      font-size: 10px;
      letter-spacing: 0.7px;
    }
    .description {
      margin-top: 0px;
      width: 290px;
      img {
        width: 120px;
        height: 100px;
      }
      .title {
        font-size: 10px;
        padding: 0 10px;
        width: 170px;
      }
    }
    .sounds {
      width: 290px;
      margin-top: 0px;

      .sound {
        width: 70px;
        height: 70px;
        img {
          width: 40px;
        }
      }
      .sound:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
