.exitWindow {
  position: absolute;
  width: inherit;
  min-height: 100vh;
  border-radius: inherit;
  background-color: #000000;
  opacity: 0.4;
}

.exitContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 200px;
  border-radius: 10px;
  border: 6px solid #6db2ff;
  font-size: 17px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  .alertQuestion {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    p {
      font-size: 14px;
      margin-top: 4px;
      text-align: center;
    }
  }
  .buttons {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 100px;
      height: 40px;
      background: var(--blue);
      border-radius: 10px;
      border: none;
      color: #ffffff;
      font-size: 24px;
      text-transform: uppercase;
      cursor: pointer;
      transition: transform 0.15s ease-in-out;
    }
    button:hover {
      box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.3);
      transform: scale(104%);
      color: var(--blue);
      background-color: #ffffff;
      border: 2px solid #6db2ff;
    }
  }
  .exitPng {
    position: absolute;
    width: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 575px) {
  .exitContainer {
    width: 300px;
    .alertQuestion {
      font-size: 13px;
      p {
        font-size: 12px;
      }
    }
    .buttons {
      button {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .exitContainer {
    width: 290px;
  }
}
