.description {
  width: 800px;
  padding: 0 70px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  img {
    width: 240px;
    max-height: 200px;
    object-fit: contain;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 799px) {
  .description {
    width: 576px;
    padding: 0 30px;
    img {
      width: 230px;
    }
    div {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 575px) {
  .description {
    width: 341px;
    img {
      width: 140px;
    }
    div {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 340px) {
  .description {
    width: 320px;
    img {
      width: 130px;
    }
    div {
      font-size: 14px;
    }
  }
}
