.gamePage {
  width: 800px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 799px) {
  .gamePage {
    width: 575px;
    border: 5px solid #6db2ff;
  }
}

@media screen and (max-width: 575px) {
  .gamePage {
    width: 341px;
  }
}

@media screen and (max-width: 340px) {
  .gamePage {
    width: 320px;
  }
}
